.App {
  text-align: center;
}

.App-header {
  background-color: #2e5173 !important;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}


.catalog {
  padding: 20px;
}

.catalog h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.catalog ul {
  list-style-type: none;
  padding: 0;
}

.catalog li {
  font-size: 18px;
  margin: 5px 0;
}

.btn-primary {
  margin-top: 20px;
}

.login-container,
.register-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fffcfc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2,
.register-container h2 {
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  margin-top: 10px;
}

.tienda-logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.user-profile {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-profile h2 {
  margin-bottom: 20px;
  text-align: center;
}

.user-profile div {
  margin-bottom: 15px;
}

.user-profile label {
  display: block;
  margin-bottom: 5px;
}

.user-profile input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-profile button {
  width: 100%;
  padding: 10px;
  background-color: #2e5173;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile button:hover {
  background-color: #0056b3;
}
